[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
uuid = "*"
pandas = "*"
langchain = "*"
langchain-community = "*"
langsmith = "*"
langgraph = "*"
python-dotenv = "*"
llama-cpp-python = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.12"
